/***********************
    マップ　#tabstrip-map
************************/
#map_canvas{
    width: 100%;
    height: 100%;
}
/*要求中の件数等*/
#map_data_receive_info_wrap{
    background-color: #333;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 160px;
    height: 28px;
    overflow: hidden;
    border: 1px solid #ccc;
    display: block;

}
#map_data_receive_roading_img,#map_data_receive_roading_mark{
    position: absolute;
    top:2px;
    left: 2px;
    width: 24px;
    height: 24px;
    display: none;
}
#map_data_receive_roading_mark{
    display: block;
}
#map_data_receive_info{
    position: absolute;
    right: 0;
    line-height: 28px;
    margin-right: 2px;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
}
#map_data_receive_info img{
    width: 26px;
    height: 28px;
    vertical-align: middle;
}
#map_data_receive_info span{
    color: #FFFFFF;
    margin-left: 2px;
}

/*現在位置表示用*/
@-moz-keyframes pulsate {
    from {
        -moz-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -moz-transform: scale(0.3);
        opacity: 0;
    }
}
@-webkit-keyframes pulsate {
    from {
        -webkit-transform: scale(0.25);
        opacity: 1.0;
    }
    95% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(0.3);
        opacity: 0;
    }
}
/* get the container that's just outside the marker image,
    which just happens to have our Marker title in it */
#map_canvas div.gmnoprint[title="nowpos_ico"] {
    -moz-animation: pulsate 1.5s ease-in-out infinite;
    -webkit-animation: pulsate 1.5s ease-in-out infinite;
    border:1pt solid #fff;
    /* make a circle */
    -moz-border-radius:51px;
    -webkit-border-radius:51px;
    border-radius:51px;
    /* multiply the shadows, inside and outside the circle */
    -moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    -webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
    /* set the ring's new dimension and re-center it */
    height:51px!important;
    margin:-18px 0 0 -18px;
    width:51px!important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
#map_canvas div.gmnoprint[title="nowpos_ico"] img {
    display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
    #map_canvas div.gmnoprint[title="nowpos_ico"] {
        margin:-10px 0 0 -10px;
    }
}

/**GMAP掲示板の吹き出し**/
#map_canvas .info_w_contents {
    width: 250px;
    height: 136px;
    text-align: center;
    overflow-y: auto;
}
#map_canvas .meta{
    text-align: left;
}
#map_canvas .add{
    text-align: left;
    height: 60px;
    overflow: hidden;
}
/*掲示板の共有ボタン*/
#map_canvas .com_btn{

}

#map_canvas .com_btn:before
{
    font: 1em/1em "Kendo UI";
    content: "\e0df";
    text-align: left;
    vertical-align: middle;
}

/***********************
    機能　#tabstrip-adv
************************/
/*行政区一括選択リスト*/
#area_list{
    text-align: center;
    overflow: hidden;
}
#area_list ul li{
    display: block;
    float: left;
    border: 1px solid #666;
    background-color: #fff;
    margin: 2px;
    width: 110px;
    overflow: hidden;
}
/**フォーム要素の初期化*/
#tabstrip-adv input{
    position: relative;
    top: 0;
    right: 0;
    margin-top: auto;
    background: none;

}
#tabstrip-adv input[type=checkbox]{
    -webkit-appearance: checkbox;
}
#tabstrip-adv input[type=text]{
    -webkit-appearance: textfield;
    border: 1px inset #666666;
}
/***********************
    説明　#tabstrip-info
************************/
/*説明のiframe100%*/
#tabstrip-info .km-scroll-container{height: 100%}

/*GPSのボタンON状態*/
#search_geo_pos_watch-btn.selected{
    background-color: rgb(252, 126, 56);
}
/*kendou uiスタイル変更*/
/*フッター*/
.footer_copy{
    text-align: center;
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.8em;
    background-color: rgb(0, 100, 181)!important;
}

.km-flat .km-header .km-navbar .km-view-title{
    line-height: 1.2em;
}

.km-flat .km-header .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
    font-size: .8em;
}


.km-flat .km-view .km-navbar {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-footer .km-navbar .km-view-title > * {
    color: rgb(255, 255, 255);
    line-height: 1em;
    font-size: .8em;
}

.km-flat .km-view .km-tabstrip .km-button {
    background-color: rgb(71, 71, 71);
}
.km-flat .km-view .km-tabstrip .km-button .km-icon{
    height: 1.8rem;
    width: 1.8rem;
    font-size: 2rem;
}

.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgba(40, 40, 42, 0.65);
}

.km-flat .km-footer .km-navbar{
    background-color: rgb(133, 133, 133);
}
.km-flat .km-footer .km-navbar .km-button{
    background-color: rgb(0, 100, 181);
}
.km-flat .km-footer .km-navbar .km-button.km-state-active {
    background-color: rgb(105, 151, 177);
}
