<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BoardMap">


    <title><%= @title %></title>
    <link href="/css/map_style.css" rel="stylesheet" media="all" type="text/css" />
    <link href="/kendoui/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="/kendoui/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="/kendoui/styles/kendo.mobile.all.min.css" rel="stylesheet" />

    <link href="/img/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" >
    <link href="/img/apple-touch-icon-120x120.png" rel="shortcut icon" >

    <script type="text/javascript" src="/init.js"></script>
    <script type="text/javascript" src="/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/kendoui/js/kendo.all.min.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true"></script>
<!--
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markermanager/1.0/src/markermanager.js"></script>
-->
    <script type="text/javascript" src="/js/markerclusterer_compiled.js"></script>
    <script type="text/javascript" src="/js/jquery.m_map_data_manager.js"></script>
    <script type="text/javascript" src="/js/date.js"></script>
    <script type="text/javascript" src="/js/map-overlay.js"></script>
    <script type="text/javascript" src="/js/map_main.js"></script>


</head>
<body>
<div data-role="view" id="tabstrip-map" data-show="layout_tabstrip_onshow" data-layout="mobile-tabstrip" >
    <div data-role="content" id="content-map_wrap">
        <div id="map_canvas"></div>
        <div id="map_data_receive_info_wrap" onclick="m_map_data_manager.set_current_map_position()"><img id="map_data_receive_roading_img" src="js/loading.gif" width="80" height="80" alt=""/><div id="map_data_receive_info">未受信</div></div>
    </div>

    <footer data-role="footer">
        <div data-role="navbar">
            <a data-role="button" data-icon="search" data-rel="popover" href="#popover-move_area" >地域選択</a>
            <a data-role="button" data-icon="globe" type="button" data-click="search_geo_pos_watch" id="search_geo_pos_watch-btn" >GPS追尾</a>
        </div>
        <footer class="footer_copy" data-role="footer">&copy; 2014 せんきょ.みんな All Rights Reserved.</footer>
    </footer>

    <div data-role="popover" id="popover-move_area" data-popup='{"width": "20em"}'>
        <div data-role="view">
            <ul data-role="listview" data-click="closeParentPopover">
                <li><label>地域
                    <span id="move_area_distince"></span>
                </label></li>
                <li><label>ステータス
                    <span id="move_area_status"></span>
                </label></li>
            </ul>
        </div>
    </div>
    <ul data-role="actionsheet" id="map-common-actions"  data-popup='{"direction": "left"}'>
        <li><a href="#" class="send_twitter" data-role="button" data-icon="featured">Twitterで報告</a></li>
        <li><a href="#" class="send_nav_code" data-role="button" data-icon="share">カーナビ転送(NaviCon連携)</a></li>
    </ul>

</div>


<div data-role="view" id="tabstrip-info" data-layout="mobile-tabstrip">

    <div data-role="content" id="tabstrip-info-content">
        <p></p>
            <h3>現在位置付近の掲示板を表示</h3>
            <p>スマホのGPSをONにして「GPS追尾」を押すと、現在位置の付近にある、ポスターが表示されます。</p>
            <p>現在位置から移動すると、10秒毎にその位置を追跡し、自動で付近の地図を表示します。</p>

            <p><img class="sc" src="/img/sc1.png" width="260"></p>


            <p>○現在位置・・青玉
                <br/>○貼付け未だの掲示板・・赤色で「未」
                <br/>○貼付け済みの掲示板・・水色で「終」</p>
            <p>数字の書いているピンはその付近にある掲示板の数を表しています。<br/>拡大すると掲示板が表示されます。</p>

            <p><img class="sc" src="/img/sc3.png" width="260"></p>

            <p>ピンをタップすると、掲示板の詳細な住所が表示されます。</p>

            <p><img class="sc" src="/img/sc4.png" width="260"></p>

            <h3>twitterで報告</h3>
            <p>吹き出しの下の「共有」ボタンから「Twitterで報告」を押すと、その掲示板の住所をツイッターに投稿出来ます。</p>
            <p><img class="sc" src="/img/sc5.png" width="265" ></p>

            <h3>カーナビに掲示板の位置を送信する</h3>
            <p>カーナビ連携アプリ「NaviCon」をインストールすると、掲示板の位置情報をNaviCon経由でカーナビに転送出来ます。</p>
            <p>「NaviCon」に対応していないカーナビの場合は、NaviConに表示される「マップコード」を入力する事で、カーナビに位置を登録する事が出来ます。</p>
            <p><a href="http://navicon.denso.co.jp/user/support/">NaviCon</a>は 株式会社DENSOの提供する、カーナビ連携アプリです。</p>
            <p><img class="sc" src="/img/sc6.png" width="270"></p>
    </div>

</div>

<div data-role="view" id="tabstrip-adv" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            掲示板データについて
            <ul>
                <li>このアプリは、せんきょ.みんなのAPIから随時取得して表示しています。<br/>
                    <a href="http://xn--w8j1azjvb.xn--q9jyb4c/" target="_blank">http://せんきょ.みんな/</a></li>
            </ul>
        </li>
        <li>
            [試験機能]GPS設定(リロードで初期化されます)
            <ul>
                <li class="small">GPS追尾時に地図をドラッグした時<br/>自動的に近くのポスターを検索<input data-role="switch" id="gps_auto_search-switch"  data-bind="checked:gps_auto_search" /></li>
                <li class="small">GPS追尾時に地図をドラッグした時<br/>以前のポスターを消去する<input data-role="switch" id="gps_auto_pos_clear-switch"  data-bind="checked:gps_auto_pos_clear" /></li>
                <li class="small">GPS追尾時で地図をドラッグした時<br/>ロード済の掲示板の件数をカウントする<br/>(表示が遅くなります)<input data-role="switch" id="gps_auto_pos_info_count-switch"  data-bind="checked:gps_auto_pos_info_count" /></li>
                <li class="small">twitter共有時にバックグラウンドで<br/>別のアドレスに掲示板データを投げる<br/>(<span data-bind="text:send_tw_pos_data_addres"></span>)<input data-role="switch" id="send_tw_pos_data_back_post-switch"  data-bind="checked:send_tw_pos_data_back_post" /></li>
            </ul>
        </li>
        <li>
            [試験機能]行政区一括選択
            <ul>
                <li>表示する行政区を一括で表示します<br/><span class="small">注意）APIの負荷軽減の為、選択は最大5件までです。スマホ等ではフリーズする場合があります。</span></li>
                <li>
                    <div id="area_list"></div>
                    <hr/>
                    <a class="button" data-role="button" data-click="search_countrys_poster" >表示</a>
                </li>
            </ul>

        </li>
        <li>
            [試験機能]住所で検索
            <ul>
                <li>住所から、該当する地域の付近の掲示板を表示<br/>
                    <span class="small">注意）APIの都合場、その位置を中心とした近い順に最大100件のみ表示されます。</span></li>
                <li>
                    <input name="move_area_address" class="input_text_mid" type="text" id="move_area_address" value=""/>
                    <a class="button" data-role="button" data-click="move_area_address">移動</a>
                </li>
            </ul>
        </li>
        <li>
            [試験機能]現在の地図の中心位置から近くの掲示板を表示
            <ul>
                <li>
                    現在表示している地図の位置にある掲示板を表示<br/>
                    <span class="small">注意）APIの都合場、その位置を中心とした近い順に最大100件のみ表示されます。</span>
                    <hr/><a class="button" data-role="button" data-click="load_now_mappos_data" >表示</a>
                </li>
            </ul>


        </li>
    </ul>
</div>


<div data-role="layout" data-id="mobile-tabstrip" >
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"><%= @title %></span>
        </div>
        <div data-role="tabstrip" id="layout_tabstrip">
            <a href="#tabstrip-map" data-icon="home">マップ</a>
            <a href="#tabstrip-adv" data-icon="settings">機能</a>
            <a href="#tabstrip-info" data-icon="about">使い方</a>
        </div>
    </div>
    <footer class="footer_copy" data-role="footer">&copy; 2014 せんきょ.みんな All Rights Reserved.</footer>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div style="width:0; height:0; overflow:hidden;">
    <iframe id="launch_frame" name="launch_frame"></iframe>
</div>

</body>
</html>
